[submodule "lib/micropython"]
	path = lib/micropython
	url = https://github.com/zx64/micropython
	branch = newer_mbed_tls
[submodule "lib/dmon"]
	path = lib/dmon
	url = https://github.com/gadgetoid/dmon
